@using HoanBds.ViewModels;
@using HoanBds.Utilities;

@model ArticleViewModel
@{
    if (Model != null)
    {
        if (Model.obj_article_list.First().list_category_name != null)
        {
            string forder_name = Model.obj_article_list.First().list_category_name.Split(",").First();

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg">
                <div class="footer-col footer-link">
                    <h4 class="footer-title">
                        @forder_name
                    </h4>
                    <div class="footer-content toggle-footer">
                        <ul>
                            @foreach (var item in Model.obj_article_list)
                            {
                                string link = @Html.GetStaticUrlNews(item.title, item.id);
                                <li class="item"><a href="@link">@Html.Raw(item.title)</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    }
}

