@using HoanBds.Models;
@using HoanBds.Utilities;
@model List<CategoryModel>
@{
    if (Model != null)
    {
        <div class="content">
            <ul class="list-cat">
                <li class="active"> <a href="/tin-tuc" class="cat-tag">Tất cả</a></li>
                @foreach (var item in Model)
                {
                    <li> <a href="@(Html.GetStaticUrlCategory(item.Name, item.id) )" class="cat-tag">@item.Name</a></li>
                }
            </ul>
        </div>
    }
}