@using HoanBds.Utilities
@using HoanBds.ViewModels;
@model List<CategoryModel>
@{

    <div class="layered-content">
        <ul class="tree-menu">
            @foreach (var item in Model)
            {

                string link = @Html.GetStaticUrlNews(item.name, item.id);

                <li class="">
                    <a href="@("/policy" + link)" title="Tìm kiếm" target="_self">
                        @Html.Raw(item.name)
                    </a>
                </li>
            }
        </ul>
    </div>
}
