################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HoanBds/.vs/HoanBds
/.vs/frontend_HoanBds/v17
