@using HoanBds.Models;
@using HoanBds.Utilities;
@model List<CategoryModel>
@inject IConfiguration Configuration


@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="box-filter">
            <h3 class="tt-box">
                <a style="cursor:pointer" class="menu_group_product" data-groupproduct="@item.id">
                    @item.Name
                </a>
            </h3>
            <ul class="list-filter">
                @foreach (var item_child in item.group_product_child)
                {
                    <li>
                        <a style="cursor:pointer" class="menu_group_product" data-groupproduct="@item_child.id">
                            @item_child.Name
                        </a>
                    </li>
                }
            </ul>
        </div>
    }
}