@{
    ViewData["Title"] = "Tin tức";
}
@model ArticleModel

<div class=" main-content-theme">

    <section class="section-parallax section-parallax-breadcrumb bg-top">
        <div class="overlay-main"></div>
        <div class="banner-title-outer">
            <div class="container">
                <div class="banner-title-name">
                    <h1 class="text-white">Tin tức</h1>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pd5  ">
                        <ol class="breadcrumb breadcrumb-arrows">
                            <li>
                                <a href="/" target="_blank"><span>Trang chủ</span></a>
                            </li>

                            <li class="active">
                                <span>Tin tức</span>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-list-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-12 blog-area">
                    <div class="content-page">
                        <div class="article-content">
                            <div class="box-article-heading clearfix">
                                <h1 class="sb-title-article">@Html.Raw(Model.title)</h1>
                                <ul class="article-info-more">
                                    <li>@Model.publishdate.ToString("dd/MM/yyyy")</li>
                                </ul>
                                <div class="background-img">
                                    <img src="@Model.image_169" alt="">
                                </div>
                            </div>
                            <div class="article-pages">
                                <div class="box-article-heading clearfix">
                                    @Html.Raw(Model.body)
                                </div>

                            </div>


                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 sidebar-area">
                    <div class="sidebar-blog">
                        <div class="news-latest clearfix">
                            <div class="sidebarblog-title title_block">
                                <h2>
                                    Bài viết mới nhất
                                </h2>
                            </div>
                            <div class="list-news-latest layered">
                                @* 4 tin mới nhất bên phải *@
                            </div>
                        </div>


                    </div>

                    <div class="box_image">
                        <div class="banner">
                            <a href="" class="banner-hover-effect">
                                <img src="images/img.jpg" alt="">
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

</div>
@section Scripts {
    <script src="~/js/news/new_detail.js"></script>
}
