<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bất động sản</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/icofont/icofont.min.css" />
    <link rel="stylesheet" href="~/css/main.css">

</head>


<body>


    <!-- Header Start -->
    <div class="mainHeader--height">
        <header class="main-header mainHeader">
            <div class="top-bar">
                <div class="container">
                    <div class="top-bar-content">
                        <p>
                            Ưu tiên giành cho khách hàng liên hệ sớm nhất! - <a href="#" class="view-more">Xem ngay</a>
                        </p>
                        <a href="javascript:;" class="close-top-bar js_top_bar_close" title="Ẩn thanh top bar"
                           aria-label="icon close top bar">
                            <i class="icofont-close-line"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="header-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2  justify-content-between wrapper-header-logo d-flex align-items-center">
                            <div class="main-header--logo fade-box">
                                <a href="/">
                                    <img src="~/images/logo.png" alt="" class="img-responsive logoimg" />
                                </a>
                            </div>
                            <div class="wrapper-header-hamburger d-block d-md-none">
                                <div class="header-action-icon icon-state">
                                    <span class="header-action-toggle hamburger-menu" aria-hidden="true">
                                        <svg class="icon-svg icon-action-svg icon-hamburger-menu-mobile"
                                             viewBox="0 0 20 16">
                                            <path d="M0 14h20v2H0v-2zM0 0h20v2H0V0zm0 7h20v2H0V7z" fill="currentColor"
                                                  fill-rule="evenodd"></path>
                                        </svg>
                                        <span class="box-action-icon-close">
                                            <i class="icofont-close-line icofont-2x"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10 wrapper-header-navigation d-md-flex d-none justify-content-end">
                            @* menu load động ở đây *@
                            <div class="wrapper-header-menu menu-desktop hidden-sm hidden-xs">
                                <nav id="header-menu" class="desk-menu text-center">

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <!-- Header End -->
    @RenderBody()
    

    <!-- Footer Start-->
    <footer class="main-footer" id="footer-container">
    </footer>

    <!-- Footer End-->
    <div class="cta">
        <ul>
            <li><a href=""><img src="~/images/phone.png" alt=""></a></li>
            <li><a href=""><img src="~/images/zalo.png" alt=""></a></li>
            <li><a href=""><img src="~/images/messenger.png" alt=""></a></li>
        </ul>
    </div>
    <div class="backToTopBtn">
        <i class="icofont-thin-up"></i>
    </div>

    @*     <script src="~/js/lib/defined_param.js"></script> *@
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/jquery.validate.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/swiper-bundle.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/common.js"></script>
    <script src="~/js/header/main.js"></script>
    <script src="~/js/footer/main.js"></script>
    <script src="~/js/group_product/main.js"></script>
    <script src="~/js/news_home/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
