<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bất động sản</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/icofont/icofont.min.css" />
    <link rel="stylesheet" href="~/css/main.css">

</head>


<body>


    <!-- Header Start -->
    <div class="mainHeader--height">
        <header class="main-header mainHeader">
            <div class="top-bar">
                <div class="container">
                    <div class="top-bar-content">
                        <p>
                            Ưu tiên giành cho khách hàng liên hệ sớm nhất! - <a href="#" class="view-more">Xem ngay</a>
                        </p>
                        <a href="javascript:;" class="close-top-bar js_top_bar_close" title="Ẩn thanh top bar"
                           aria-label="icon close top bar">
                            <i class="icofont-close-line"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="header-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2  justify-content-between wrapper-header-logo d-flex align-items-center">
                            <div class="main-header--logo fade-box">
                                <a href="">
                                    <img src="~/images/logo.png" alt="" class="img-responsive logoimg" />
                                </a>
                            </div>
                            <div class="wrapper-header-hamburger d-block d-md-none">
                                <div class="header-action-icon icon-state">
                                    <span class="header-action-toggle hamburger-menu" aria-hidden="true">
                                        <svg class="icon-svg icon-action-svg icon-hamburger-menu-mobile"
                                             viewBox="0 0 20 16">
                                            <path d="M0 14h20v2H0v-2zM0 0h20v2H0V0zm0 7h20v2H0V7z" fill="currentColor"
                                                  fill-rule="evenodd"></path>
                                        </svg>
                                        <span class="box-action-icon-close">
                                            <i class="icofont-close-line icofont-2x"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10 wrapper-header-navigation d-md-flex d-none justify-content-end">
                            @* menu load động ở đây *@
                            <div class="wrapper-header-menu menu-desktop hidden-sm hidden-xs">
                                <nav id="header-menu" class="desk-menu text-center">

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <!-- Header End -->
    <div class=" main-content-theme">

        <section class="section section-slider">
            <div id="home-slider">
                <div class="swiper swiper-banner">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="item">
                                <a href="">
                                    <img src="~/images/collection_banner1bce.jpg" alt="" />
                                </a>
                                <div class="item-cap">
                                    <div class="item-cap-content" data-animation-in="slideInUp"
                                         data-animation-out="animate-out">
                                        <h2 class="text-white">Welcome to NextCompany!</h2>
                                        <p class="text-white">
                                            Công ty đi đầu trong lĩnh vực thiết kế nội thất, thi công nội thất và sản xuất đồ
                                            nội thất tại Hà Nội - Hải Phòng - Đà Nẵng - Hồ Chí Minh.
                                        </p>
                                        <div class="site-button black">
                                            <a href="#">
                                                <span>Xem thêm</span><em></em>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item">
                                <a href="">
                                    <img src="~/images/collection_banner1bce.jpg" alt="" />
                                </a>
                                <div class="item-cap">
                                    <div class="item-cap-content" data-animation-in="slideInUp"
                                         data-animation-out="animate-out">
                                        <h2 class="text-white">Welcome to NextCompany!</h2>
                                        <p class="text-white">
                                            Công ty đi đầu trong lĩnh vực thiết kế nội thất, thi công nội thất và sản xuất đồ
                                            nội thất tại Hà Nội - Hải Phòng - Đà Nẵng - Hồ Chí Minh.
                                        </p>
                                        <div class="site-button black">
                                            <a href="#" title="Welcome to NextCompany">
                                                <span>Xem thêm</span><em></em>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-nav">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-about-us bg-gray">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="m-about">

                            <div class="ow-img wt-img-effect zoom-slow">
                                <div class="banner-hover-effect">
                                    <img src="~/images/img.jpg" alt="">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                        <div class="m-about-containt">
                            <div class="s-title">
                                <span class="sub-title">Giới thiệu</span>
                                <h2>
                                    HOAN - BDSDONGTIEN.INFO
                                </h2>
                            </div>
                            <div class="s-content">
                                <p>
                                    Kiến trúc Không Gian Xanh là công ty chuyên nghiệp cung cấp các dịch vụ: Tư vấn thiết kế, tư
                                    vấn đầu tư, xây dựng và thương mại uy tín – chất lượng và giá cả phù hợp.&nbsp;
                                </p>
                                <p>
                                    <br>Bằng tính kĩ năng chuyên môn xuất sắc và tinh thần làm việc nghiêm túc, chúng tôi luôn cố
                                    gắng nổ lực hòan thiện mình nhằm mục tiêu cung cấp đến quý khách hàng những sản phẩm dịch vụ
                                    ngày càng hòan thiện , với phong cách hiện đại.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-service">
            <div class="container">
                <div class="wrapper-home-service">
                    <div class="hilite-title bdr-gray bdr-left">
                        <strong>Chung cư mini</strong>
                        <span class="text-black">Dự án</span>
                        <div class="see-more">
                            <a href="">Xem tất cả</a>
                        </div>
                    </div>

                    <div class="swiper list-service-home">
                        @* List CCMN trang Home *@
                        <div class="swiper-wrapper" id="list_sp_ccmn_home">
                        </div>
                        <div class="swiper-nav">
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-parallax prl-one">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 col-sm-12  some-facts-counter ">
                        <div class="row">
                            <div class="col-4">
                                <div class="icon-box-wraper p-a10 text-white m-b30">
                                    <span class="counter">32</span>
                                    <div class="ic-separator"></div>
                                    <span class="text">Khách hàng hài lòng</span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="icon-box-wraper p-a10 text-white m-b30">
                                    <span class="counter">220</span>
                                    <div class="ic-separator"></div>
                                    <span class="text">Dự án hoàn thành</span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="icon-box-wraper p-a10 text-white m-b30">
                                    <span class="counter">30</span>
                                    <div class="ic-separator"></div>
                                    <span class="text">Chứng nhận</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="some-facts box-send-contact">
                            <div class="s-title text-white">
                                <form>
                                    <div class="contact-form">
                                        <div class="row">
                                            <div class="col-sm-12 ">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="Tên của bạn">
                                                </div>
                                            </div>
                                            <div class="col-sm-6 ">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="Email của bạn">
                                                </div>
                                            </div>
                                            <div class="col-sm-6 ">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="Số điện thoại của bạn">
                                                </div>
                                            </div>
                                            <div class="col-sm-12 ">
                                                <div class="input-group">
                                                    <textarea placeholder="Nội dung"></textarea>
                                                </div>

                                            </div>
                                            <div class="col-12">
                                                <button class="site-button black">
                                                    <span>
                                                        Gửi cho chúng
                                                        tôi
                                                    </span><em></em>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-service">
            <div class="container">
                <div class="wrapper-home-service">
                    <div class="hilite-title bdr-gray bdr-left">
                        <strong>Nhà phố</strong>
                        <span class="text-black">Dự án</span>
                        <div class="see-more">
                            <a href="">Xem tất cả</a>
                        </div>
                    </div>

                    <div class="swiper list-service-home">
                        @* list nhà phố trang Home *@
                        <div class="swiper-wrapper" id="list_sp_np_home">
                        </div>
                        <div class="swiper-nav">
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-parallax">
            <div class="container">
                <div class="s-title text-center">
                    <h2 class="text-white">
                        Hãy liên hệ ngay với chúng tôi! <br />
                        Phục vụ chu đáo - Thiết kế sáng tạo - Thi công sắc sảo - Dịch vụ hoàn hảo <br />
                        Hãy cùng NextCompany xây dựng ngôi nhà mơ ước của bạn!
                    </h2>
                </div>
            </div>
        </section>
        <section class="section section-blog ">
            <div class="container">
                <div class="hilite-title bdr-gray bdr-left">
                    <strong>BÀI VIẾT NỔI BẬT</strong>
                    <span class="text-black">Tin tức</span>
                    <div class="see-more">
                        <a href="">Xem tất cả</a>
                    </div>
                </div>
                <div class="s-content">
                    @* đây là tin bài *@
                    <div class="row list-news-home">
                    </div>
                </div>

            </div>
        </section>

    </div>

    <!-- Footer Start-->
    <footer class="main-footer" id="footer-container">
    </footer>

    <!-- Footer End-->
    <div class="cta">
        <ul>
            <li><a href=""><img src="~/images/phone.png" alt=""></a></li>
            <li><a href=""><img src="~/images/zalo.png" alt=""></a></li>
            <li><a href=""><img src="~/images/messenger.png" alt=""></a></li>
        </ul>
    </div>
    <div class="backToTopBtn">
        <i class="icofont-thin-up"></i>
    </div>

    @*     <script src="~/js/lib/defined_param.js"></script> *@
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/swiper-bundle.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/common.js"></script>
    <script src="~/js/header/main.js"></script>
    <script src="~/js/footer/main.js"></script>
    <script src="~/js/group_product/main.js"></script>
    <script src="~/js/news_home/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
