@{
    var group_product_parent_id =  ViewBag.group_product_parent_id;
}

<input type="hidden" id="group_product_parent_id" value="@group_product_parent_id" />

<section class="banner-product">
    <div class="container">
        <div class="swiper swiper-banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href=""><img src="~/images/banner.jpg" alt="" /></a>
                </div>
                <div class="swiper-slide">
                    <a href=""><img src="~/images/banner2.jpg" alt="" /></a>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>
<section class="section-product">
    <div class="container">
        <div class="wrap-list-product" id="productList">
            <div class="left-sidebar">

                <div id="closeFilter" class="close"><i class="icon icon-close"></i></div>
                <h3 class="tt-filter">Danh mục</h3>
                <div id="group-product-left"></div>

                <div class="box-filter">
                    <h3 class="tt-box gia">Giá</h3>
                    <form>
                        <div class="flex-form">
                            <input type="number">
                            <i class="icon icon-arrow-right"></i>
                            <input type="number">
                        </div>
                    </form>
                </div>
                <div class="box-filter">
                    <h3 class="tt-box thuonghieu">Thương hiệu</h3>
                    <ul class="list-filter">
                        <li class="active">
                            <a href="/">HoanBds</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="product-category">
                <button class="btn-filter">Bộ lọc</button>
                <div class="component-product-list">
                   <div class="list-product">
                    <div class="item-product">
                        <a href="">
                            <div class="thumb thumb-product">
                                <img src="~/images/product.jpg" alt="" />
                            </div>
                            <div class="box-info">
                                <h3 class="name-product">Màng bọc Thực phẩm Las Palms dao nhựa xanh </h3>
                                <div class="flex-price">
                                    <div class="price-sale">689,098đ</div>
                                    <div class="price-old">689,098đ</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-product">
                        <a href="">
                            <div class="thumb thumb-product">
                                <img src="~/images/product.jpg" alt="" />
                            </div>
                            <div class="box-info">
                                <h3 class="name-product">Màng bọc Thực phẩm Las Palms dao nhựa xanh </h3>
                                <div class="flex-price">
                                    <div class="price-sale">689,098đ</div>
                                    <div class="price-old">689,098đ</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-product">
                        <a href="">
                            <div class="thumb thumb-product">
                                <img src="~/images/product.jpg" alt="" />
                            </div>
                            <div class="box-info">
                                <h3 class="name-product">Màng bọc Thực phẩm Las Palms dao nhựa xanh </h3>
                                <div class="flex-price">
                                    <div class="price-sale">689,098đ</div>
                                    <div class="price-old">689,098đ</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-product">
                        <a href="">
                            <div class="thumb thumb-product">
                                <img src="~/images/product.jpg" alt="" />
                            </div>
                            <div class="box-info">
                                <h3 class="name-product">Màng bọc Thực phẩm Las Palms dao nhựa xanh </h3>
                                <div class="flex-price">
                                    <div class="price-sale">689,098đ</div>
                                    <div class="price-old">689,098đ</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-product">
                        <a href="">
                            <div class="thumb thumb-product">
                                <img src="~/images/product.jpg" alt="" />
                            </div>
                            <div class="box-info">
                                <h3 class="name-product">Màng bọc Thực phẩm Las Palms dao nhựa xanh </h3>
                                <div class="flex-price">
                                    <div class="price-sale">689,098đ</div>
                                    <div class="price-old">689,098đ</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-product">
                        <a href="">
                            <div class="thumb thumb-product">
                                <img src="~/images/product.jpg" alt="" />
                            </div>
                            <div class="box-info">
                                <h3 class="name-product">Màng bọc Thực phẩm Las Palms dao nhựa xanh </h3>
                                <div class="flex-price">
                                    <div class="price-sale">689,098đ</div>
                                    <div class="price-old">689,098đ</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-product">
                        <a href="">
                            <div class="thumb thumb-product">
                                <img src="~/images/product.jpg" alt="" />
                            </div>
                            <div class="box-info">
                                <h3 class="name-product">Màng bọc Thực phẩm Las Palms dao nhựa xanh </h3>
                                <div class="flex-price">
                                    <div class="price-sale">689,098đ</div>
                                    <div class="price-old">689,098đ</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-product">
                        <a href="">
                            <div class="thumb thumb-product">
                                <img src="~/images/product.jpg" alt="" />
                            </div>
                            <div class="box-info">
                                <h3 class="name-product">Màng bọc Thực phẩm Las Palms dao nhựa xanh </h3>
                                <div class="flex-price">
                                    <div class="price-sale">689,098đ</div>
                                    <div class="price-old">689,098đ</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-product">
                        <a href="">
                            <div class="thumb thumb-product">
                                <img src="~/images/product.jpg" alt="" />
                            </div>
                            <div class="box-info">
                                <h3 class="name-product">Màng bọc Thực phẩm Las Palms dao nhựa xanh </h3>
                                <div class="flex-price">
                                    <div class="price-sale">689,098đ</div>
                                    <div class="price-old">689,098đ</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-product">
                        <a href="">
                            <div class="thumb thumb-product">
                                <img src="~/images/product.jpg" alt="" />
                            </div>
                            <div class="box-info">
                                <h3 class="name-product">Màng bọc Thực phẩm Las Palms dao nhựa xanh </h3>
                                <div class="flex-price">
                                    <div class="price-sale">689,098đ</div>
                                    <div class="price-old">689,098đ</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-product">
                        <a href="">
                            <div class="thumb thumb-product">
                                <img src="~/images/product.jpg" alt="" />
                            </div>
                            <div class="box-info">
                                <h3 class="name-product">Màng bọc Thực phẩm Las Palms dao nhựa xanh </h3>
                                <div class="flex-price">
                                    <div class="price-sale">689,098đ</div>
                                    <div class="price-old">689,098đ</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-product">
                        <a href="">
                            <div class="thumb thumb-product">
                                <img src="~/images/product.jpg" alt="" />
                            </div>
                            <div class="box-info">
                                <h3 class="name-product">Màng bọc Thực phẩm Las Palms dao nhựa xanh </h3>
                                <div class="flex-price">
                                    <div class="price-sale">689,098đ</div>
                                    <div class="price-old">689,098đ</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                    <div class="wrap-paging">
                    <a href="" class="xemthem">Xem thêm</a>
                    <ul class="pagination">
                        <!-- <li class="page first"><a href=""><i class="icon icon-page-first"></i></a></li> -->
                        <li class="page previous disabled"><a href=""><i class="icon icon-page-previous"></i></a></li>
                        <li class="page active"><a href="">1</a></li>
                        <li class="page"><a href="">2</a></li>
                        <li class="page"><a href="">...</a></li>
                        <li class="page"><a href="">3</a></li>
                        <li class="page next"><a href=""><i class="icon icon-page-next"></i></a></li>
                        <!-- <li class="page last"><a href=""><i class="icon icon-page-last"></i></a></li> -->
                    </ul>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>

